@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



@media print {
  body {
    -webkit-print-color-adjust: exact;
    /* Ensures colors are printed as in the browser */
  }

  .rubik-mono-one-regular {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}


  .no-print {
    display: none;
  }

  .view-bill {
    font-size: 12px;
    /* Adjust the font size */
    /* width: 100%; */
    /* Ensure content fits page width */
  }

  .thermal-bill {
    /* font-size: 10px; Smaller font size for thermal paper */
    width: auto; /* Allow content to adjust dynamically */
    page-break-inside: auto !important;
    page-break-before: auto !important;
    page-break-after: auto !important;
  }

  .page-break {
    page-break-before: always;
  }
}